<!DOCTYPE html>
<html>

<head>
  <title>EDA-STA Support</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../static/style/styles.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%;
      line-height: 1.8;
    }

    /* Full height image header */
    .bgimg-1 {
      background-position: center;
      background-size: cover;
      background-image: url("../static/img/11.jpg"), linear-gradient(rgba(5, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
      background-blend-mode: multiply;
      min-height: 100%;
    }

    .w3-bar .w3-button {
      padding: 16px;
    }
  </style>
</head>

<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top">
    <div class="w3-bar w3-blue-white w3-card" id="myNavbar">
      <a href="#home" class="w3-bar-img">
        <img class="w3-wide"
          src="https://www.renesas.com/themes/idt8/src/components/header/images/header-sets/pride/header-w.svg?header_set=1&ts=1629138828;ts=1629138828">
      </a>
      <!-- Right-sided navbar links -->
      <div class="w3-right w3-hide-small">
        <a href="#team" class="w3-bar-item w3-button w3-text-white"><i class="fa fa-user"></i> ABOUT</a>
        <a href="#contact" class="w3-bar-item w3-button w3-text-white"><i class="fa fa-envelope"></i> CONTACT</a>
        <a href="/login" class="w3-bar-item w3-button w3-text-white"><i class="fa fa-th"></i> WORK</a>
        <a href="/request_mem" class="w3-bar-item w3-button w3-text-white"><i class="fa-solid fa-person-circle-plus"></i> REQUEST</a>
      </div>
      <!-- Hide right-floated links on small screens and replace them with a menu icon -->

      <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
        onclick="w3_open()">
        <i class="fa fa-bars"></i>
      </a>
    </div>
  </div>

  <!-- Sidebar on small screens when clicking the menu icon -->
  <nav class="w3-sidebar w3-bar-block w3-black w3-card w3-animate-left w3-hide-medium w3-hide-large"
    style="display:none" id="mySidebar">
    <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-large w3-padding-16">Close ×</a>
    <a href="#team" onclick="w3_close()" class="w3-bar-item w3-button">EDA TEAM</a>
    <a href="#work" onclick="w3_close()" class="w3-bar-item w3-button">WORK</a>
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button">CONTACT</a>
  </nav>

  <!-- Header with full-height image -->
  <header class="bgimg-1 w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-left" style="padding:48px">
      <span class="w3-jumbo w3-hide-small w3-text-white-title">EDA Tool Support</span><br>
      <!-- <span class="w3-xxlarge w3-hide-large w3-hide-medium">EDA Tools Support</span><br> -->
      <span class="w3-large_slogan w3-text-white-title">Never Stop Our Effort To Bring You Satisfaction</span><br><br>
      <p><a href="#team"
          class="w3-button w3-white w3-padding-large w3-large w3-margin-top w3-opacity w3-hover-opacity-off">Learn
          more</a></p>
    </div>
  </header>

  <!-- Team Section -->
  <div class="w3-center" style="padding: 80px 10px" id="team">
    <div class="w3-center">
      <h3>THE TEAM</h3>
      <p class="w3-large">Together we're stronger</p>
    </div>
    <div class="grid-container">
      <div class="person">
        <img src="../static/img/1.jpg" alt="Person 1" class="avatar">
        <h3>Tam Nguyen</h3>
        <p class="w3-opacity">Sr Staff EDA Engineer</p>
      </div>
      <div class="person">
        <img src="../static/img/2.jpg" alt="Person 2" class="avatar">
        <h3>Anh Nguyen</h3>
        <p class="w3-opacity">Supervisor, HW Engineering</p>
      </div>
      <div class="person">
        <img src="../static/img/3.jpg" alt="Person 3" class="avatar">
        <h3>Toan Tran</h3>
        <p class="w3-opacity">EDA Engineer</p>
      </div>
      <div class="person">
        <img src="../static/img/4.jpg" alt="Person 4" class="avatar">
        <h3>Quoc Duong</h3>
        <p class="w3-opacity">EDA Engineer</p>
      </div>
      <div class="person">
        <img src="../static/img/5.jpg" alt="Person 5" class="avatar">
        <h3>Sieu Pham</h3>
        <p class="w3-opacity">EDA Engineer</p>
      </div>
      <div class="person">
        <img src="../static/img/6.jpg" alt="Person 6" class="avatar">
        <h3>Quynh Luong</h3>
        <p class="w3-opacity">EDA Engineer</p>
      </div>
    </div>
    <div class="w3-center">
      <br>
      <br>
    </div>
  </div>

  <!-- Work Section -->
  <div class="w3-container" style="padding:80px 200px" id="work">
    <h3 class="w3-center">OUR WORK</h3>
    <p class="w3-center w3-large">Please fill the the sheet to get help</p>
  </div>

  <!-- Modal for full size images on click-->
  <div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
    <span class="w3-button w3-xxlarge w3-black w3-padding-large w3-display-topright" title="Close Modal Image">×</span>
    <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
      <img id="img01" class="w3-image">
      <p id="caption" class="w3-opacity w3-large"></p>
    </div>
  </div>

  <!-- Contact Section -->
  <div class="w3-container w3-light-grey" style="padding:80px 16px" id="contact">
    <h3 class="w3-center">CONTACT</h3>
    <p class="w3-center w3-large">Lets get in touch. Send us a message:</p>
    <div style="margin-top:48px">
      <p><i class="fa-solid fa-location-dot fa-fw w3-xxlarge w3-margin-right"></i> Renesas Vietnam</p>
      <p><i class="fa-solid fa-phone-volume fa-fw w3-xxlarge w3-margin-right"></i> Tel: +84-28 3770 0255</p>
      <p><i class="fa fa-envelope fa-fw w3-xxlarge w3-margin-right"> </i> Email: someone.xy@renesas.com</p>
      <br>
      <form action="/send_email" method="POST">
        <p><input class="w3-input w3-border" type="text" placeholder="Name" required name="Name"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Email" required name="Email"></p>
        <p><input class="w3-input w3-border" type="text" name="Cc" value="phong.phan.wj@renesas.com" readonly
            style="background-color: #babec2;"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Subject" required name="Subject"></p>
        <p><input class="w3-input w3-border" type="text" placeholder="Message" required name="Message"></p>
        <p>
          <button class="w3-button w3-black" type="submit">
            <i class="fa fa-paper-plane"></i> SEND MESSAGE
          </button>
        </p>
      </form>
      <div id="result">
        {% if message %}
        <p style="color: green;">{{ message }}</p>
        {% elif error %}
        <p style="color: red;">{{ error }}</p>
        {% endif %}
      </div>
      <script>
        window.onload = function () {
          var result = document.getElementById('result');
          if (result.innerHTML.trim() !== '') {
            result.scrollIntoView({ behavior: 'auto' });
          }
        };
      </script>
    </div>
  </div>

  <!-- Footer -->
  <footer class="img-footer w3-center w3-padding-64 w3-blue">
    <a href="#home" class="w3-button w3-light-grey w3-blue"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
    <div class="w3-xlarge w3-section">
      <a href="https://www.facebook.com/RenesasDesignVietnam" target="_blank" title="Facebook">
        <i class="fa-brands fa-facebook w3-hover-opacity"></i>
      </a>
      <a href="https://www.instagram.com/renesas_global/" target="_blank" title="instagram">
        <i class="fa-brands fa-instagram w3-hover-opacity"></i>
      </a>
      <a href="https://x.com/RenesasGlobal?mx=2" target="_blank" title="twitter">
        <i class="fa-brands fa-x-twitter w3-hover-opacity"></i>
      </a>
      <a href="https://www.linkedin.com/company/renesas/" target="_blank" title="Linkedin">
        <i class="fa-brands fa-linkedin w3-hover-opacity"></i>
      </a>
      <a href="https://www.youtube.com/RenesasPresents" target="_blank" title="Youtube">
        <i class="fa-brands fa-youtube w3-hover-opacity"></i>
      </a>
    </div>
    <div>
      <p>Powered by <a href="https://www.renesas.com/us/en" title="Renesas" target="_blank"
          class="w3-hover-text-green">Renesas Vietnam</a></p>
      <p><a>© The website developed by QuocDuong.</a></p>
    </div>
  </footer>

  <script>
    // Modal Image Gallery
    function onClick(element) {
      document.getElementById("img01").src = element.src;
      document.getElementById("modal01").style.display = "block";
      var captionText = document.getElementById("caption");
      captionText.innerHTML = element.alt;
    }

    // Toggle between showing and hiding the sidebar when clicking the menu icon
    var mySidebar = document.getElementById("mySidebar");

    function w3_open() {
      if (mySidebar.style.display === 'block') {
        mySidebar.style.display = 'none';
      } else {
        mySidebar.style.display = 'block';
      }
    }

    // Close the sidebar with the close button
    function w3_close() {
      mySidebar.style.display = "none";
    }

  </script>
</body>

</html>