<!DOCTYPE html>
<html lang="en">

<head>
    <title>EDA-STA Support</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/style/styles.css">
    <link rel="stylesheet" href="../static/style/request_mem.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <style></style>
</head>

<body>
    <!-- Navbar (sit on top) -->
    <div class="w3-top">
        <div class="w3-bar w3-blue-white w3-card" id="myNavbar">
            <a href="/" class="w3-bar-img">
                <img class="w3-wide"
                    src="https://www.renesas.com/themes/idt8/src/components/header/images/header-sets/pride/header-w.svg?header_set=1&ts=1629138828;ts=1629138828">
            </a>
            <!-- Right-sided navbar links -->
            <div class="w3-right w3-hide-small">
                <a href="/" class="w3-bar-item w3-button w3-text-white"><i class="fa-solid fa-backward"></i> GO BACK</a>
                <a href="/developer_mode" class="w3-bar-item w3-button w3-text-white"><i class="fa-solid fa-gear"></i> DEVELOPER
                    MODE</a>
            </div>

            <a href="javascript:void(0)" class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()">
                <i class="fa fa-bars"></i>
            </a>
        </div>
    </div>
    <!-- <div class="content"> -->
    <div class="container">
        <h2>REQUEST FORM</h2>
        <h5>Please fill your information to get approval.</h5>
        <form action="/add_user" method="POST">
            <label for="name">First name and last name:</label>
            <input type="text" id="user_name" name="user_name" required>
            <label for="email">Your email:</label>
            <input type="text" id="user_email" name="user_email" required>
            <label for="team">Your team (example: RVC/ENG/EDA/DBMD/TIDS):</label>
            <input type="text" id="user_team" name="user_team" required>
            <button type="submit">Send request</button>
        </form>
        {% if message_request %}
        <p class="message-success">{{ message_request }}</p>
        {% elif message_error1 %}
        <p></p>
        {% endif %}
    </div>
    <!-- </div> -->
    <footer class="footer">
        <a>© The website developed by QuocDuong.</a>
    </footer>

</body>

</html>